In [36]:
import pandas as pd
import pathlib
import numpy as np

In [37]:
csvList = list(pathlib.PosixPath('./imageCSV/').glob("./*.csv"))

In [50]:
csvList.pop(6)

PosixPath('imageCSV/train.csv')

In [51]:
csvList

[PosixPath('imageCSV/styleGAN2.csv'),
 PosixPath('imageCSV/styleGANone.csv'),
 PosixPath('imageCSV/styleGAN1.csv'),
 PosixPath('imageCSV/LFW.csv'),
 PosixPath('imageCSV/styleGANtwo.csv'),
 PosixPath('imageCSV/FFHQ.csv'),
 PosixPath('imageCSV/CelebA_StarGAN.csv'),
 PosixPath('imageCSV/CelebA_sample17767.csv')]

In [34]:
CelebA_sample17767 = df[df.tag == 'CelebA'].sample(17767, replace=False)

In [35]:
CelebA_sample17767.to_csv("./imageCSV/CelebA_sample17767.csv")

In [52]:
df = pd.DataFrame()
for csv in csvList:
    temp = pd.read_csv(csv, index_col=0)
    df = pd.concat([df, temp], axis=0)
df

                                                filepath  label        tag
0      /content/drive/MyDrive/dataset/styleGAN1/03814...      1  styleGAN1
1      /content/drive/MyDrive/dataset/styleGAN1/03727...      1  styleGAN1
2      /content/drive/MyDrive/dataset/styleGAN1/03160...      1  styleGAN1
3      /content/drive/MyDrive/dataset/styleGAN1/03546...      1  styleGAN1
4      /content/drive/MyDrive/dataset/styleGAN1/03230...      1  styleGAN1
...                                                  ...    ...        ...
29107  /content/drive/MyDrive/dataset/CelebA/CelebA1/...      0     CelebA
17363  /content/drive/MyDrive/dataset/CelebA/CelebA1/...      0     CelebA
14957  /content/drive/MyDrive/dataset/CelebA/CelebA1/...      0     CelebA
28377  /content/drive/MyDrive/dataset/CelebA/CelebA1/...      0     CelebA
44018  /content/drive/MyDrive/dataset/CelebA/CelebA1/...      0     CelebA

[132000 rows x 3 columns]

In [53]:
df.label.value_counts()

1    66000
0    66000
Name: label, dtype: int64

In [14]:
df.to_csv("./imageCSV/total.csv")

In [57]:
df.apply(func=lambda x: x.filepath, axis=1).apply(func=lambda x: x[-4:]).value_counts()

.png    130696
.jpg     13233
dtype: int64

In [68]:
df.to_csv("./imageCSV/total.csv")

In [15]:
from sklearn.model_selection import train_test_split

In [54]:
train, test = train_test_split(df, test_size=.2, random_state=114)

In [55]:
train, val = train_test_split(train, test_size=0.125, random_state=114)

In [56]:
train.to_csv("./imageCSV/train_truncated.csv")
val.to_csv("./imageCSV/val_truncated.csv")
test.to_csv("./imageCSV/test_truncated.csv")

In [57]:
df.tag.value_counts()

styleGAN1         40000
FFHQ              35000
styleGAN2         20000
CelebA            17767
LFW               13233
CelebA_StarGAN     6000
Name: tag, dtype: int64

In [58]:
total = pd.read_csv("/Users/jm/Desktop/project3/imageCSV/total.csv", index_col=0)

In [59]:
total.__len__()

164233