In [48]:
import pandas as pd
import pathlib
import numpy as np

In [45]:
csvList = list(pathlib.PosixPath('./imageCSV/').glob("./*.csv"))

In [46]:
csvList

[PosixPath('imageCSV/FFHQ_StyleGAN3XL.csv'),
 PosixPath('imageCSV/LFW.csv'),
 PosixPath('imageCSV/CelebA2.csv'),
 PosixPath('imageCSV/FFHQ.csv'),
 PosixPath('imageCSV/CelebA_StarGAN.csv')]

In [50]:
df = pd.DataFrame()
for csv in csvList:
    temp = pd.read_csv(csv, index_col=0)
    df = pd.concat([df, temp], axis=0)
df

,filepath,label,tag
0,/content/drive/MyDrive/data/ffhq/fake/seed1065...,1,FFHQ_StyleGAN3XL
1,/content/drive/MyDrive/data/ffhq/fake/seed1065...,1,FFHQ_StyleGAN3XL
2,/content/drive/MyDrive/data/ffhq/fake/seed1065...,1,FFHQ_StyleGAN3XL
3,/content/drive/MyDrive/data/ffhq/fake/seed1065...,1,FFHQ_StyleGAN3XL
4,/content/drive/MyDrive/data/ffhq/fake/seed1065...,1,FFHQ_StyleGAN3XL
...,...,...,...
5995,/content/drive/MyDrive/dataset/CelebA_starGAN/...,1,CelebA_StarGAN
5996,/content/drive/MyDrive/dataset/CelebA_starGAN/...,1,CelebA_StarGAN
5997,/content/drive/MyDrive/dataset/CelebA_starGAN/...,1,CelebA_StarGAN
5998,/content/drive/MyDrive/dataset/CelebA_starGAN/...,1,CelebA_StarGAN
5999,/content/drive/MyDrive/dataset/CelebA_starGAN/...,1,CelebA_StarGAN

In [51]:
df.to_csv("./imageCSV/total.csv")

In [57]:
df.apply(func=lambda x: x.filepath, axis=1).apply(func=lambda x: x[-4:]).value_counts()

.png    130696
.jpg     13233
dtype: int64

In [60]:
df = df.convert_dtypes()

In [65]:
df.label = df.label.astype(dtype="category")

In [68]:
df.to_csv("./imageCSV/total.csv")

In [69]:
from sklearn.model_selection import train_test_split

In [82]:
train, test = train_test_split(df, test_size=.2, random_state=114)

In [83]:
train, val = train_test_split(train, test_size=0.125, random_state=114)

In [80]:
train.reset_index(inplace=True)

In [88]:
train.to_csv("./imageCSV/train.csv")

In [95]:
train = pd.read_csv("./imageCSV/train.csv", index_col=0)
# train = pd.read_csv("./imageCSV/train.csv")

In [96]:
train

,filepath,label,tag
19301,/content/drive/MyDrive/dataset/CelebA/CelebA1/...,0,CelebA
5658,/content/drive/MyDrive/dataset/CelebA_starGAN/...,1,CelebA_StarGAN
9896,/content/drive/MyDrive/dataset/LFW/LFW_3547.jpg,0,LFW
28973,/content/drive/MyDrive/data/ffhq/real/07283.png,0,FFHQ
17339,/content/drive/MyDrive/data/ffhq/real/17670.png,0,FFHQ
...,...,...,...
14017,/content/drive/MyDrive/data/ffhq/real/20988.png,0,FFHQ
94,/content/drive/MyDrive/data/ffhq/real/34906.png,0,FFHQ
176,/content/drive/MyDrive/dataset/LFW/LFW_11726.jpg,0,LFW
8730,/content/drive/MyDrive/data/ffhq/real/26266.png,0,FFHQ
33529,/content/drive/MyDrive/dataset/CelebA/CelebA1/...,0,CelebA